@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
}
.img1 {
  width: 100%;
}
.text1 {
  position: absolute;
  width: 411px;
  height: 65px;
  left: 514px;
  top: 18px;

  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 135.02%;
  }

.entry-header {
  position: absolute;
  width: 1440px;
  height: 852px;
  left: 0px;
  top: 103px;
  background-image: url(/img/banner.png);
  background-repeat: no-repeat;
}

.text-header {
  position: absolute;
  width: 715px;
  height: 321px;
  left: 163px;
  top: 351px;

  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 167.02%;
  text-transform: uppercase;
  /* or 107px */

  color: #ffffff;
}

.blue {
  color: #0bbbd3;
}
.blue-sky {
  color: #28cde3;
}

.white {
  color: #f8f5f5;
}

.text2 {
  position: absolute;
  width: 361px;
  height: 64px;
  left: 76px;
  top: 1015px;

  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 167.02%;
  /* or 80px */

  color: #000000;
}

.blue-flag {
  position: absolute;
  width: 24px;
  height: 191px;
  left: 80px;
  top: 321px;

  background-color: #33b8f1;
}

.yellow-flag {
  position: absolute;
  width: 24px;
  height: 197px;
  left: 80px;
  top: 512px;

  background-color: #e8f82f;
}

.rectangle3 {
  position: absolute;
  width: 361px;
  height: 5px;
  left: 80px;
  top: 1095px;

  background-color: #33b8f1;
}

.block1 {
  position: absolute;
  width: 399px;
  height: 481px;
  left: 80px;
  top: 1221px;

  background-color: #fffefe;
  box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-image: url(/img/Сад-Шевченко.png);
  background-repeat: no-repeat;
}

.block1-title {
  position: absolute;
  width: 267px;
  height: 60px;
  left: 80px;
  top: 1488px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 167.02%;
  /* or 60px */
  color: #33b8f1;
}

.block1-text {
  position: absolute;
  width: 396px;
  height: 149px;
  left: 83px;
  top: 1531px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 167.02%;
  /* or 53px */

  color: #595050;
}
.icon1 {
  position: absolute;
  width: 75px;
  height: 70px;
  left: 331px;
  top: 1510.24px;

  background: url(/img/3179170\ 1.png);
  border-radius: 20px;
  transform: rotate(0deg);
}

.block2 {
  position: absolute;
  width: 399px;
  height: 481px;
  left: 518px;
  top: 1221px;

  background: #fffefe;
  box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-image: url(/img/Французький\ бульвар.png);
  background-repeat: no-repeat;
}

.block2-title {
  position: absolute;
  width: 404px;
  height: 60px;
  left: 518px;
  top: 1488px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 167.02%;
  /* or 60px */

  color: #030303;
}

.block2-text {
  position: absolute;
  width: 396px;
  height: 55px;
  left: 518px;
  top: 1567px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 167.02%;
  /* or 53px */

  color: #595050;
}

.block3 {
  position: absolute;
  width: 408px;
  height: 481px;
  left: 952px;
  top: 1221px;

  background: #fffefe;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-image: url(/img/Лопанская\ набережная.png);
  background-repeat: no-repeat;
}

.block3-title {
  position: absolute;
  width: 408px;
  height: 59px;
  left: 952px;
  top: 1488px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 165.02%;
  /* or 59px */

  color: #040505;
}

.block3-text {
  position: absolute;
  width: 396px;
  height: 73px;
  left: 964px;
  top: 1568px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 167.02%;
  /* or 53px */

  color: #595050;
}

.text3 {
  position: absolute;
  width: 473px;
  height: 64px;
  left: 464px;
  top: 1761px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 167.02%;
  /* or 80px */
  text-transform: uppercase;
  color: #000000;
}

.rectangle4 {
  position: absolute;
  width: 361px;
  height: 5px;
  left: 520px;
  top: 1841px;

  background: #33b8f1;
}

.heart {
  position: absolute;
  width: 973px;
  height: 877px;
  left: 233px;
  top: 1888px;

  background: url(/img/heart.png);
}

.btn {
  position: absolute;
  width: 430px;
  height: 74px;
  left: 505px;
  top: 2711px;

  background: #33adf1;
}
.btn-text {
  position: absolute;
  width: 330px;
  height: 80px;
  left: 555px;
  top: 2711px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 167.02%;
  /* or 80px */
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 405px;
  left: 0px;
  top: 2967px;

  background: #0a2da9;
}

.text4 {
  position: absolute;
  width: 548px;
  height: 86px;
  left: 446px;
  top: 3016px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 135.02%;
  /* or 86px */

  color: #0bbbd3;
}

.email {
  position: absolute;
  width: 286px;
  height: 43px;
  left: 577px;
  top: 3127px;

  font-family: "Inder", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 135.02%;
  /* or 43px */

  color: #353949;
}

.phone {
  position: absolute;
  width: 307px;
  height: 43px;
  left: 567px;
  top: 3205px;

  font-family: "Inder", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 135.02%;
  /* or 43px */

  color: #353949;
}

.ellipse1 {
  position: absolute;
  width: 68px;
  height: 64px;
  left: 476px;
  top: 3290px;
  border-radius: 50%;

  background: #0931bf;
}

.twitter {
  position: absolute;
  width: 41px;
  height: 37px;
  left: 490px;
  top: 3303px;

  background: url(/img/twitter.png);
}

.ellipse2 {
  position: absolute;
  width: 68px;
  height: 64px;
  left: 599px;
  top: 3290px;
  border-radius: 50%;

  background: #0931bf;
}

.telegram {
  position: absolute;
  width: 52px;
  height: 47px;
  left: 605px;
  top: 3298px;
  background: url(/img/telegram.png);
}

.ellipse3 {
  position: absolute;
  width: 68px;
  height: 64px;
  left: 721px;
  top: 3290px;
  border-radius: 50%;

  background: #0931bf;
}

.instagram {
  position: absolute;
  width: 47px;
  height: 48px;
  left: 731px;
  top: 3298px;

  background: url(/img/instagram.png);
}

.ellipse4 {
  position: absolute;
  width: 68px;
  height: 64px;
  left: 853px;
  top: 3290px;
  border-radius: 50%;

  background: #0931bf;
}

.facebook {
  position: absolute;
  width: 45px;
  height: 43px;
  left: 864px;
  top: 3303px;

  background: url(/img/facebook.png);
}
